.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(8, 8, 8, 0.5); /* Green overlay */
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  font-family: var(--font-family);
  background-color: #ffffff; /* White background */
  font-weight: 700;
  color: black;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  animation: slideUp 0.3s ease-in-out;
}

.modal p {
  margin-bottom: 20px;
}

.modal button {
  background-color: #00cc00; /* Green button */
  color: #fff;
  font-weight: 400;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 0.2rem;
}

.modal button:hover {
  background-color: #009900; /* Darker green on hover */
  animation: text-pop 0.3s ease-in-out forwards;
}

@keyframes text-pop {
  from {
    transform: scale(1); /* Start at normal size */
  }
  to {
    transform: scale(1.05); /* Briefly scale up on hover */
  }
}

@keyframes slideUp {
  from {
    transform: translateY(50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
